@font-face {
  font-family: 'Gotham Pro Light';
  src: url("GothamPro-Light.eot");
  src: url("GothamPro-Light.eot?#iefix") format("embedded-opentype"), url("GothamPro-Light.woff") format("woff"), url("GothamPro-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0 auto;
  padding: 0;
}

svg {
  position: absolute;
}

.container {
  margin-top: 50px;
  width: 250px;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-family: 'Gotham Pro Light';
}

.container p {
  font-size: 12px;
  font-weight: bold;
}

.container span {
  font-size: 16px;
  display: inline-block;
  font-size: 17px;
}

h1 {
  position: relative;
  font-size: 40px;
}

h2 {
  padding-bottom: 5px;
}

.f-percent {
  position: absolute;
  top: 2px;
  left: 50px;
  font-weight: lighter;
}

.grey {
  color: #b1b1b1;
}

.orange {
  color: #fcd329;
}

.green {
  color: #70a84b;
  line-height: 2;
  font-family: Arial, Helvetica, sans-serif;
}

.red {
  color: red;
}

.flag_f {
  position: absolute;
  top: -15px;
}

.person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 30px;
  font-size: 13px;
  font-family: Arial, sans-serif;
}

.person__name {
  width: 80px;
}

.person__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.person__position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 15px;
}

.person__img {
  width: 12px;
  height: 20px;
  margin-left: 5px;
}

.person__percent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
  width: 30px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.person__color {
  width: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f9f9f9;
  border-radius: 5px;
  border: 1px solid #e6e6e6;
  font-family: 'Gotham Pro Light';
  font-weight: 600;
  font-size: 11px;
}

.color-box {
  width: 32px;
  margin-left: 0px;
}

.color-big {
  height: 26px;
  border-top-left-radius: 4px;
  margin-left: 0px;
}

.color-big__green {
  background-color: #70a74b;
  width: 34px;
  -webkit-animation-name: moveToGreen;
          animation-name: moveToGreen;
  -webkit-animation-duration: 1.3s;
          animation-duration: 1.3s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.color-big__yellow {
  width: 34px;
  background-color: #fbd229;
  -webkit-animation-name: moveToYellow;
          animation-name: moveToYellow;
  -webkit-animation-duration: 1.3s;
          animation-duration: 1.3s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.color-big__red {
  width: 27px;
  background-color: #ed5243;
  -webkit-animation-name: moveToRed;
          animation-name: moveToRed;
  -webkit-animation-duration: 1.3s;
          animation-duration: 1.3s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@-webkit-keyframes moveToRed {
  0% {
    width: 0%;
  }
  100% {
    width: 27px;
  }
}

@keyframes moveToRed {
  0% {
    width: 0%;
  }
  100% {
    width: 27px;
  }
}

@-webkit-keyframes moveToYellow {
  0% {
    width: 0%;
  }
  100% {
    width: 34px;
  }
}

@keyframes moveToYellow {
  0% {
    width: 0%;
  }
  100% {
    width: 34px;
  }
}

@-webkit-keyframes moveToGreen {
  0% {
    width: 0%;
  }
  100% {
    width: 34px;
  }
}

@keyframes moveToGreen {
  0% {
    width: 0%;
  }
  100% {
    width: 34px;
  }
}

.color-small {
  height: 9px;
  border-bottom-left-radius: 4px;
  margin-left: 0px;
}

.color-small__green {
  width: 31px;
  background-color: #b5d0a2;
}

.color-small__yellow {
  width: 28px;
  background-color: #fae691;
}

.color-small__red {
  width: 33px;
  background-color: #f3a69e;
}

.line-svg {
  position: absolute;
  top: 105px;
  left: -35px;
}

.color-text {
  margin-right: 7px;
}
/*# sourceMappingURL=style.css.map */